name: Deploy Laravel to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4


      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.HOST_DNS }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          timeout: 120s               
          command_timeout: 15m        
          script: |
            cd /var/www/flyertrade

            git fetch origin main
            git reset --hard origin/main

            composer install --no-dev --prefer-dist --optimize-autoloader --no-interaction

            php artisan migrate --force

            php artisan optimize:clear
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache

            sudo chown -R www-data:www-data storage bootstrap/cache
            sudo chmod -R 775 storage bootstrap/cache

            sudo systemctl reload php8.2-fpm
            sudo systemctl reload nginx
            
    
             
 
               
             
 